<%= form_for @new_user,
             :url => { :controller => "families", :action => "add_user" }  do |f| %>
    <table>
    <tr>
        <th><%= f.label :parent %></th>
        <th><%= f.label :email %></th>
        <th><%= f.label :display_name %></th>
        <th><%= f.label :password %></th>
        <th><%= f.label :password_confirmation %></th>
        <td rowspan="2" valign="bottom"><%= f.submit "create" %></td>
    </tr>
    <tr>
        <td><%= f.check_box :parent %></td>
        <td><%= f.text_field :email %></td>
        <td><%= f.text_field :display_name, :size => 15 %></td>
        <td><%= f.password_field :password, :size => 12 %></td>
        <td><%= f.password_field :password_confirmation, :size => 12 %></td>
    </tr>
    </table>

<% end %>
